<!Doctype html>
<html>
  <head>
    <title>The Life of Jeffron Addy</title>
    <link rel = "stylesheet" href = "/resources/future.css"
  </head>
  <ul>
    <li><a href = "/">Me Myself and I</li></a>
    <li><a href = "/firstdayOfcssi">First Day of CSSI</li></a>
    <li><a href = "/hobbies">Hobbies</li></a>
    <li><a href = "/family">Family</li></a>
  </ul>
  <body>
      <h1>My family</h1>
      <h2>Brothers</h2>
      <h3>Jermyn(Oldest)</h3>
        <p>My oldest brother is older than mye by 10 years and pretty much raised me for most of my childhood.
        He currently attend the New York Medical college, and received his bachelor's degree at Brandeis University.</p>
  </body>
</html>
