<!Doctype html>
<html>
  <head>
    <title>The Life of Jeffron Addy</title>
    <link rel = "stylesheet" href = "/resources/first_day_cssi.css">
  </head>
  <ul>
    <li><a href = "/">Me Myself and I</li></a>
    <li><a href = "/firstdayOfcssi">First Day of CSSI</li></a>
    <li><a href = "/hobbies">Hobbies</li></a>
    <li><a href = "/family">Family</li></a>
  </ul>
  <body>
      <h1>My First Day at CSSI</h1>
      <img id = "CSSI" src = "http://2.bp.blogspot.com/-NTOJUgPc2G4/U68ayncb_wI/AAAAAAAAOcY/LpjbNLbTlho/s1600/cssilogo.png"/>
      <p id="Content">My first day at CSSI was amazing, I ddi not expect it to go the way it did. I expected to come to CSSI and not fit in, but I noticed that the classroom was a judgment free zone and that I could be myself. I met some of the coolest people and I did not feel like I was behind during any of the lessons that were taught. Even though I needed help at times, I was also able to help others and look forward to attending the rest of the program.</P>
  </body>
    <p></p>
</html>
