<!Doctype html>
<html>
  <head>
    <title>The Life of Jeffron Addy</title>
    <link rel = "stylesheet" href = "/resources/college.css">
  </head>
  <ul>
    <li><a href = "/">Me Myself and I</li></a>
    <li><a href = "/firstdayOfcssi">First Day of CSSI</li></a>
    <li><a href = "/hobbies">Hobbies</li></a>
    <li><a href = "/family">Family</li></a>
  </ul>
  <body>
      <section class="parallax">
        <div class = "parallax-inner">
          <h1>Hobbies</h1>
      </div>
      </section>
  </body>
</html>
