<!Doctype html>
<html>
  <head>
    <title>The Life of Jeffron Addy</title>
    <link rel = "stylesheet" href = "/resources/index.css">
  </head>
  <body>
    <ul>
      <li><a href = "/">Me Myself and I</li></a>
      <li><a href = "/firstdayOfcssi">First Day of CSSI</li></a>
      <li><a href = "/hobbies">Hobbies</li></a>
      <li><a href = "/family">Family</li></a>
    </ul>
    {{header}}
    <section class="parallax">
      <div class="parallax-inner">
        <h1>About Me</h1>
      </div>
    </section>
      <!-- <img  id = "baby" src="http://orldartsme.com/images/black-baby-clipart-1.jpg"/> -->
      <p id="Content">I was born on December 4th, 1999 and was the only person in my family born in the US. I am the youngest of 4 brothers but I am the cutest :D. 2 weeks after I was born my family moved from </p>
  </body>
</html>
